@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Baloo Bhai 2', cursive;
	font-weight: normal;
	font-size: 10px;
}

.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.hidden {
	display: none;
}
