.search-form {
	display: flex;
	justify-content: center;
	position: relative;
	width: 50%;
	min-width: 250px;
	margin: 10px auto;
	height: 30px;
	z-index: 3;

	input[type=text] {
		border: 1px solid rgb(209, 209, 209);
		border-radius: 5px 0 0 5px;
		padding: 0 10px;
		width: calc(100% - 80px);
		outline: none;

		&::placeholder {
			padding: 0 5px;
		}
	}
	button[type=submit] {
		border: 1px solid rgb(209, 209, 209);
		border-left: none;
		border-radius: 0 5px 5px 0;
		padding: 0 10px;
		cursor: pointer;
	}

	.clear {
		position: absolute;
		width: 18px;
		height: 18px;
		background-image: url("../img/clear.svg");
		background-size: 20px;
		background-position: center center;
		background-repeat: no-repeat;
		right: 80px;
		top: 6px;
		opacity: .8;
		transition: .2s;
		cursor: pointer;
	}

	.loading {
		position: absolute;
		right: 78px;
		top: 1px;
		z-index: 2;

		img {
			width: 28px;
			height: 28px;
		}
	}

	.keyboard-img {
		display: block;
		position: absolute;
		right: 107px;
		top: 1px;
		z-index: 2;
		opacity: 0.5;
		cursor: pointer;

		img {
			width: 26px;
			height: 26px;
		}
	}
}

@media (max-width: 850px) {
	.keyboard-img img {
		display: none;
	}
}
