.swiper-container {
	width: 90%;
	overflow-x: hidden;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: 1%;
	right: auto;
	outline: none;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 1%;
	left: auto;
	outline: none;
}

@media (max-width: 850px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}
}
