.swiper-slide {
	text-align: center;
	// height: 450px;
	font-size: 1rem;
}

.card-title {
	font-size: 1.1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bolder;
}

.card-poster {
	width: 100%;
	// width: 300px;
	// height: 350px;
}

.card-rating {
	margin-bottom: 35px;
}
