.search-form {
	display: flex;
	justify-content: center;
	position: relative;
	width: 50%;
	margin: 10px auto;
	height: 30px;

	input[type=text] {
		border: 1px solid rgb(209, 209, 209);
		border-radius: 5px 0 0 5px;
		padding: 0 10px;
		width: calc(100% - 80px);
		outline: none;

		&::placeholder {
			padding: 0 5px;
		}
	}
	button[type=submit] {
		border: 1px solid rgb(209, 209, 209);
		border-left: none;
		border-radius: 0 5px 5px 0;
		padding: 0 10px;
		cursor: pointer;
	}

	.clear {
		position: absolute;
		width: 48px;
		height: 28px;
		background-image: url("../img/clear.svg");
		background-size: 20px;
		background-position: center center;
		background-repeat: no-repeat;
		right: 65px;
		top: 1px;
		opacity: .8;
		transition: .2s;
		cursor: pointer;
	}
}
