.swiper-container {
	width: 90%;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: 1%;
	right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 1%;
	left: auto;
}
